$mobile_min_width: 320px;
$mobile_max_width: 480px;
$tablet_min_width: 768px;
$tablet_max_width: 1024px;
$desktop: 1224px;
$large_screen: 1824px;

@mixin respond_to($media) {
  @if $media == mobile {
    @media only screen and (min-width : $mobile_min_width) and (max-width: $mobile_max_width) { @content; }
  }
  @else if $media == mobile-landscape {
    @media only screen and (min-width : $mobile_min_width + 1) { @content; }
  }
  @else if $media == mobile-portrait {
    @media only screen and (max-width : $mobile_min_width) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width : $tablet_min_width) and (max-width: $tablet_max_width) { @content; }
  }
  @else if $media == tablet-landscape {
    @media only screen and (min-width : $tablet_min_width) and (max-width: $tablet_max_width) and (orientation : landscape) { @content; }
  }
  @else if $media == tablet-portrait {
    @media only screen and (min-width : $tablet_min_width) and (max-width: $tablet_max_width) and (orientation : portrait) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width : $desktop) { @content; }
  }
  @else if $media == large-screen {
    @media only screen and (min-width : $large_screen) { @content; }
  }
}

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

@mixin prefix($name, $value) {
  -webkit-#{$name}: $value;
  -moz-#{$name}: $value;
  -ms-#{$name}: $value;
  -o-#{$name}: $value;
  #{$name}: $value;
}
